/*General Stuff*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #292929;
}

h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

h6 {
    font-size: 10px;
    letter-spacing: 2px;
}

p {
    font-family: 'Lato', sans-serif;
    color: #9fa3a7;
    margin-bottom: 20px;
}

.btn-default {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 100em;
    background-color: #ff2d55;
    box-shadow: 0px 5px 15px rgba(255, 45, 85, 0.5);
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: #fa5373 !important;
    box-shadow: 0px 5px 15px rgba(255, 45, 85, 0.5);
}

.btn-neutral {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 100em;
    color: #292929;
    background: transparent;
    border-width: 2px;
    border-color: rgb(216, 216, 216);
    border-style: solid;
    border-radius: 23px;
    padding: 14px 50px;
}

.btn-neutral:hover,
.btn-neutral:active,
.btn-neutral:focus {
    background-color: transparent !important;
    border-color: #fa5373;
    color: #292929 !important;
}

textarea.form-control {
    max-width: 100%;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border: 2px solid #9fa3a7;
    border-radius: 30px;
    line-height: 2;
}

textarea.form-control:focus,
textarea.form-control:active {
    border: 2px solid #9fa3a7;
    border-radius: 30px;
}

.form-control {
    background-color: transparent;
    border: 2px solid #9fa3a7;
    border-radius: 30px;
    color: #242424;
    line-height: 1em;
    font-size: 0.8571em;
    transition: all .2s ease-in-out;
}

.form-control:focus,
.form-control:hover,
.form-control:active {
    border: 2px solid #9fa3a7;
    -webkit-box-shadow: 0px 5px 19.8px 0.2px rgba(82, 82, 82, 0.5);
    box-shadow: 0px 5px 19.8px 0.2px rgba(82, 82, 82, 0.5);
    outline: 0 !important;
    color: #242424;
}


/*Navbar*/

.bg-primary {
    background-color: #fff !important;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    color: #9fa3a7;
}

.navbar .navbar-nav .nav-link {
    font-size: 12px;
    padding: 0.5rem 2rem;
    transition: all .2s ease-in-out;
}

.nav-link:hover {
    color: #fa5373;
}

.navbar .navbar-brand {
    text-transform: capitalize;
    font-size: 29px;
    margin-bottom: 0;
}

.navbar .navbar-brand h3 {
    margin-bottom: 0;
}

.navbar .navbar-nav .nav-link i.fa,
.navbar .navbar-nav .nav-link i.now-ui-icons {
    font-size: 18px;
    position: relative;
    top: 0px;
    text-align: center;
    width: 21px;
    color: #242424;
}

.search-icon-1 {
    display: none;
}

.search-icon-1 i {
    color: #fff !important;
    transition: all .2s ease-in-out;
}

.nav-link i {
    transition: all .2s ease-in-out;
}

.nav-link i:hover {
    color: #fa5373 !important;
}


/*Header*/

header {
    background-color: #f7f8f9;
}

.header-content {
    padding-top: 100px;
    padding-bottom: 30px;
}

.btn-header {
    margin-left: 34px;
}


/*Features*/

.features {
    margin-top: 67px;
}

.features-text h6 {
    margin-left: -30px;
}

.features-text span {
    background: #fa5373;
    padding: 4px 9px;
    border-radius: 100em;
    color: #fff;
}

.features-text .btn-features {
    margin-left: -30px;
}

.features-text-2 {
    margin-left: 14%;
}

.line {
    width: 80%;
    background: #d1d1d1;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*CTA*/

.cta {
    margin-top: 134px;
    text-align: center;
}

.cta-text p {
    margin-bottom: 30px;
}

.btn-cta {
    margin-bottom: 10px;
}

.cta-text p a {
    color: #242424;
    border-bottom: 1px solid #242424;
    transition: all .2s ease-in-out;
}

.cta-text p a:hover,
.cta-text p a:focus,
.cta-text p a:active {
    color: #242424 !important;
    border-bottom: none;
    text-decoration: none;
}


/*Pricing*/

.pricing {
    margin-top: 134px;
    text-align: center;
}

.pricing-text {}

.table h1 {
    margin-top: 15px;
    font-size: 50px;
}

.table sub {
    font-size: 10px;
    font-weight: 600;
    margin-left: -45px;
}

.table span {
    font-size: 25px;
}

.table p {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 13px;
}

.btn-table {
    padding: 14px 20px;
}

.btn-table:hover {
    color: #fff !important;
    background-color: #fa5373 !important;
    box-shadow: 0px 5px 15px rgba(255, 45, 85, 0.5);
}

.table {
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.table:hover {
    color: #fff;
    background: #446cb3;
    transform: scale(1.05);
}

.table:hover h6 {
    color: #fff;
}

.table:hover h1 {
    color: #fff;
}

.table:hover p {
    color: #fff;
}

.table:hover .btn-table {
    color: #fff !important;
    background-color: #ff2d55 !important;
    border: none;
}


/*Testimonials*/

.testimonials {
    margin-top: 67px;
    text-align: center;
}

.testimonial-text p {
    margin-bottom: 77px;
}

.men img {
    border-radius: 100em;
}

.men h6 {
    color: #9fa3a7;
}

.men h3 {
    margin-bottom: 5px;
}

.men p {
    padding-left: 10px;
}

.men hr {
    width: 50px;
    background: #eaeaea;
    border-top: none;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unslider-nav {
    margin-top: 60px;
}

.unslider-nav ol li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background: #9fa3a7;
    border-radius: 100em;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.unslider-nav ol li.unslider-active {
    background: #ff2d55;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.submit {
    text-align: right;
}

.submit-text p {
    text-align: left;
}

.name-email h6 {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #9fa3a7;
}

.textarea h6 {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #9fa3a7;
}


/*Contacts*/

.contacts {
    margin-top: 67px;
}

.contact-text {
    margin-bottom: 20px;
}

.submit-text {
    margin-top: 30px;
}

.submit-text i {
    color: #446cb3;
    font-size: 18px;
    margin-left: 10px;
    padding-right: 5px;
}


/*Footer*/

footer {
    background-color: #f7f8f9;
    margin-top: 67px;
}

.footer-nav {
    list-style: none;
    text-transform: uppercase;
}

.footer-nav li {
    float: left;
    padding-right: 80px;
}

.footer-nav li a {
    font-size: 12px;
    color: #6c6c6c;
    transition: all .2s ease-in-out;
}

.footer-nav li a:hover,
.footer-nav li a:focus {
    color: #fa5373;
    text-decoration: none;
}

.footer-social {
    list-style: none;
}

.footer-social li {
    float: left;
    padding-right: 60px;
}

.footer-social li a {
    font-size: 18px;
    color: #6c6c6c;
    transition: all .2s ease-in-out;
}

.footer-social li a:hover,
.footer-social li a:focus {
    color: #fa5373;
    text-decoration: none;
}


/*Media Queries*/

@media screen and (max-width: 991px) {
    .navbar {
        padding-top: 0;
        margin-bottom: 20px;
        height: 70px;
    }
    .navbar .navbar-toggler.navbar-toggler-right {
        padding-right: 0;
        top: 25px;
    }
    .navbar-collapse {
        background-color: #242424;
    }
    .navbar-collapse:before {
        background: none;
    }
    .navbar .navbar-toggler-bar {
        background: #242424;
    }
    .search-icon-1 {
        display: inline-block;
    }
    .search-icon-2 {
        display: none;
    }
    .btn-header {
        margin-left: 0;
        margin-top: 10px;
    }
    .table p {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
    }
    .footer-nav li {
        padding-right: 20px;
    }
    .footer-social li {
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .wow {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}

@media screen and (max-width: 767px) {
    .col-md-5 {
        margin-top: 20px;
        text-align: center;
    }
    .btn-header {
        margin-left: 34px;
    }
    .features-text-2 {
        margin-left: 0;
    }
    .features-text h6 {
        margin-left: 0;
    }
    .features-text .btn-features {
        margin-left: 0;
    }
    .pricing-text {
        margin-top: 0 !important;
    }
    .footer-nav {
        margin-bottom: 50px;
        padding-left: 0;
    }
    .footer-social {
        margin-bottom: 50px;
        padding-left: 0;
    }
}

@media screen and (max-width: 575px) {
    .name-email-2 h6 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 391px) {
    .btn-header {
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 357px) {
    .btn-header {
        margin-top: 20px;
    }
}
